#grid-container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 14% 86%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "top-bar top-bar" "navigation-rail main-content" "navigation-rail main-content";
}

#navigation-menu {
    grid-area: navigation-rail;
    background-color: var(--lighterBackgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-top: 1rem;
}

.nav-child {
    width: 90%;
    height: 4rem;
    display: flex;
    align-items: center;
    color: var(--cardButtonTextColor);
    transition: 250ms;
}

.nav-child:hover {
    background-color: var(--cardBackgroundColor);
}

.nav-child:last-child {
    background-color: inherit;
}

#book-icon {
    height: fit-content;
    width: 1.2rem;
}

.nav-icon {
    margin: 0 1rem 0 0;
    fill: var(--cardButtonTextColor);
}

#shopping-cart-line {
    transition: 500ms;
}

#book-icon {
    transition: 600ms;
}

#logout-icon {
    transition: 700ms;
}

.nav-icon.load {
    margin-left: 1rem;
}

#logout-icon {
    width: 1.2rem;
}

#top-section {
    grid-area: top-bar;
    position: relative;
    z-index: 2;
    background-color: var(--lighterBackgroundColor);
    border-bottom: 1px solid white;
}

#profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    gap: 2rem;
    position: absolute;
    right: 0%;
    top: 25%;
    transform: translateX(-25%);
}

.dashboard-profile-picture {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    clip-path: circle();
}

#message-icon {
    width: 1.7rem;
    animation-name: swing;
    cursor: pointer;
}

@keyframes swing {
    20% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#message-icon:hover {
    animation: swing 500ms infinite;
}

#messages-container {
    position: relative;
}

.messages {
    position: absolute;
    width: 25rem;
    height: fit-content;
    top: 240%;
    right: 0%;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    background-color: var(--cardBackgroundColor);
    padding: 0.5rem;
    border-radius: 10px;
}

.messages.active {
    opacity: 1;
    pointer-events: all;
}

.notif {
    cursor: pointer;
    background-color: var(--lighterBackgroundColor);
    padding: 1rem;
    border-radius: 10px;
}

#subject-container {
    grid-area: main-content;
    position: relative;
    z-index: 1;
}