@import "/static/root.css";
@import "/static/fonts.css";
#reviewers {
    margin: 5em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#message-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reviewer-list {
    display: flex;
    gap: 1.5em;
    height: fit-content;
}

.reviewer {
    background-color: var(--cardBackgroundColor);
    width: 175px;
    height: 210px;
    border-radius: 25px;
    padding: 1em;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#options {
    background-color: var(--iconBackgroundColor);
}

#menu-horizontal {
    fill: var(--defaultIconFill);
}

.reviewer-options {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}

.score,
.reviewer-score {
    font-size: 0.8rem;
}

.reviewer-button {
    background-color: var(--buttonColor)
}

.shopping-cart-line,
#shopping-cart-line-filled {
    width: 1.3rem;
    fill: var(--cardButtonTextColor);
    transition: 500ms ease;
}

.buy-button {
    border-radius: 50px;
    padding: 0.7em;
}

#shopping-cart-line-filled {
    display: none;
}

.reviewer-title {
    font-family: "Poppins Medium";
}