@import "/static/root.css";

/*--------------------+
|  Parent Container   | 
+---------------------*/

label {
    font-size: 1.1rem;
}

#profile-section {
    justify-content: center;
    display: flex;
    opacity: 0;
    height: 100%;
    transition: 500ms ease;
    position: relative;
}

#profile-section.active {
    opacity: 1;
}

#profile-image-container {
    margin: 1em;
    box-sizing: border-box;
    height: 87vh;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

#profile-image {
    position: relative;
    width: fit-content;
    opacity: 0.5;
    object-fit: cover;
}

#profile-main {
    margin: 4em;
    width: 91%;
    height: 84%;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 2rem;
    z-index: 2;
    bottom: 0%;
}


/*---------------+ 
|  Top Section   | 
+----------------*/

.profile-top {
    position: relative;
    width: 100%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}


/*-----------------------+ 
|  Top Section Controls  | 
+------------------------*/

#profile-username-container {
    display: flex;
    position: relative;
    width: min-content;
}


/*----------------------------+ 
|  Profile Picture Container  | 
+-----------------------------*/

.profile-picture-container {
    position: relative;
}

.profile-picture-big {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* profile picture */

#actual_picture {
    width: 6rem;
    clip-path: circle();
}

#username-container {
    display: flex;
    align-items: flex-end;
}

#username {
    border: none;
    margin-left: 5px;
    font-size: 1.5rem;
}


/*------------------+ 
|  Middle Section   | 
+-------------------*/

.profile-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 3rem;
}


/*---------------------------------------------------+ 
|  First Name, Last Name, Course, School Container   | 
+----------------------------------------------------*/

.user-info {
    font-size: 0.8rem;
}

.name-fields-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.profile-data {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
}

#name {
    display: flex;
    gap: 0.2rem;
}


/*------------------+ 
|  Contact Number   | 
+-------------------*/

.number-country-label {
    opacity: 0.8;
}


/*------------------+ 
|  Bottom Section   | 
+-------------------*/

.profile-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 0.4em;
}

.button {
    font-size: 0.8rem;
}